<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update refernces</title>
  <style>
    .references_contect {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;

      grid-template-areas: "left middel right";

    }
    p{
      color: red;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center;"> edite reference </h1>
  <!-- references contect -->
  <fieldset>
    <form action="/references/update/<%=data.reference_detail_id%>" method="post" onsubmit="return error()">
      <legend>References contect:</legend>
      <div class="references_contect">
        <div class="left">
          <!-- left -->
          <div class="form-group">
            <label for="rname">Name:</label>
            <input style="width: 80px;" value="<%=data.name%>" name="rname" id="rname" type="text">
            <p id="e_rname"> </p>
             <% if (errors && errors.rname) { %>
              <p class="error"><%=errors.rname%></p>
            <% } %>

          </div>

        </div>
        <div class="middel">
          <!-- middel -->
          <div class="form-group">
            <label for="contect_number">contect number:</label>
            <input style="width: 80px;" value="<%=data.contact_number%>" name="contect_number" id="contect_number"
              type="text">
            <p id="e_contect_number"> </p>
              <% if (errors && errors.contect_number) { %>
              <p class="error"><%=errors.contect_number%></p>
            <% } %>

          </div>


        </div>
        <div class="right">
          <!-- right -->
          <div class="form-group">
            <label for="relation">relation:</label>
            <input style="width: 80px;" value="<%=data.relation%>" name="relation" id="relation" type="text">
            <p id="e_relation"></p>
              <% if (errors && errors.relation) { %>
              <p class="error"><%=errors.relation%></p>
            <% } %>

          </div>


        </div>
      </div>
      <div style="text-align: center;" class="form-group">
        <input type="submit" value="Update">
      </div>
    </form>
  </fieldset>
  <script>
    function error() {
      document.getElementById('e_rname').innerHTML = '';
    document.getElementById('e_contect_number').innerHTML = '';
    document.getElementById('e_relation').innerHTML = '';
      let invalid = true;
      let rname = document.getElementById("rname").value.trim();
      let rcontact = document.getElementById("contect_number").value.trim();
      let relation = document.getElementById("relation").value.trim();

    const phoneRegex = /^[6-9]\d{9}$/;
    
    const nameRegex = /^[a-zA-Z\u00C0-\u01FF\s\-\']+$/;
      if (rname === "") {
        document.getElementById("e_rname").innerHTML = " reference name requires";
        invalid = false;
      } else if (!nameRegex.test(rname)) {
        document.getElementById("e_rname").innerHTML = " please enter valid reference name";
        invalid = false;
      }

      if (rcontact === "") {
        document.getElementById("e_contect_number").innerHTML = " contact number required";
        invalid = false;
      } else if (!phoneRegex.test(rcontact)) {
        document.getElementById("e_contect_number").innerHTML = " please enter valid contect number";
        invalid = false;
      }

      if (relation === "") {
        document.getElementById("e_relation").innerHTML = "Enter relation";
        invalid = false;
      } else if (!nameRegex.test(relation)) {
        document.getElementById("e_relation").innerHTML = "please enter valid relation";
        invalid = false;
      }
      return invalid;
    }

  </script>

</body>

</html>